@page "/admin/assign-user-role/{id}"
@model PRN221_Project.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Assign role";
}



<div class="row"> 
    <div class="col-md-6">
        <form>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
