@page "Admin/users"
@model PRN221_Project.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "User list";
}

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>


<table class="table">
    <tr>
        <th>User Name</th>
        <th>User role</th>
        <th>Action</th>
    </tr>
    @foreach(var user in Model.users)
    {
        <tr>
            <td>@user.DisplayName</td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./AddRole" asp-role-id="@user.Identifier">Edit</a>
                
            </td>
        </tr>
    }
</table>