@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<h1 class="alert alert-primary" role="alert">
        Please check your email to confirm your account.
</h1>


