@page
@model PRN221_Project.Pages.Admin.ManagerMovie.EditModel
@{
}
<div class="modal-dialog">
    <form method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel">Add New Movie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input value="@Model.EditMovie.Id" type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label asp-for="EditMovie.ReleaseDate" class="form-label">Release Date</label>
                    <input asp-for="EditMovie.ReleaseDate" type="date" class="form-control" name="ReleaseDate" />
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration (minutes)</label>
                    <input value="@Model.EditMovie.DurationMinutes" type="number" class="form-control" id="duration" name="duration">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Genre</label>
                    <select class="form-control" id="Genre" name="Genre" style="border:1px solid #ced4da">
                        <option value="0">Ngừng Chiếu</option>
                        <option value="0">Chiếu</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>